# R Session/Workspace things
.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp*
*.DS_Store

# Quarto outputs
_site/
_book/
.quarto/
.quarto_cache/
.cache/

# OS/editor noise
.DS_Store

# Render outputs
*.pdf
*.html
*.docx
*.pptx

# data
data/dc*
data/ny*

# python
__pycache__
python/*
